.container {
    height: calc(100vh - 64px - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);

    .title {
        background-image: linear-gradient(90deg, #f66, #f90);
	    -webkit-background-clip: text;
	    background-clip: text;
	    font-size: 60px;
        color: transparent;
	    animation: hue 5s linear infinite;
    }
    @keyframes hue {
        from {
            filter: hue-rotate(0);
        }
        to {
            filter: hue-rotate(-1turn);
        }
    }

    
    .info {
        text-align: center;

        button {
            height: 60px;
            font-size: 24px;
            
        }
    }

    
    @mixin typing($count: 0, $duration: 0, $delay: 0) {
	overflow: hidden;
	border-right: 1px solid transparent;
	width: #{$count + 1}ch;
	font-family: Consolas, Monaco, monospace;
	white-space: nowrap;
	animation: typing #{$duration}s steps($count + 1) #{$delay}s infinite backwards,
		caret 500ms steps(1) #{$delay}s infinite forwards;
    }
    .auto-typing {
        font-weight: bold;
        text-align: center;
        color: rgb(6, 25, 37);
        @include typing(52, 5);
    }
    @keyframes caret {
        50% {
            border-right-color: currentcolor;
        }
    }
    @keyframes typing {
        from {
            width: 0;
        }
    }

}