.container {
    width: 180px;
    margin: 15px 0;
    line-height: 1;
    text-align: center;

    h1 {
        font-size: 25px;
        color: #f7f7f7;
    }

    svg {
        width: 100%;
        height: auto;
        margin-top: 6px;
    }
}